.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #EDF2F7;
    transition: background-color 0.3s ease;
  }
  .sidebar-logo  img {
    margin-top: 10PX;
    margin-bottom: 30px;
    width: 90%;
  
  
  }
  .sidebar-icon {
    padding: 10px;
    cursor: pointer;
    color: #319795;
  }
  
  .sidebar-icon.active {
    background-color: #2C7A7B;
    color: #f9fefd;
  
  }